#!zsh

#alias sudo="sudo"       # so aliases get expanded before using sudo
alias la="ls -A"
alias ll="ls -hl"
alias lla="ll -A"
alias l.="__ls 'ls -d .*'"
alias ll.="__ls 'ls -dhl .*'"

function __ls() {
    local dir
    dir=${PWD}
    if [[ -n "${2}" ]]; then
        dir=${2}
    fi
    (cd ${dir} && eval ${1})
}

alias grep='grep --color=auto'
prefix=(e f z ze zf bz)
for p in $prefix; do
    eval "alias ${p}grep='${p}grep --color=auto'"
done

alias XtermIrssi="xterm -T irssi -geometry 100x25 -fs 9 -e \"screen -c ${HOME}/.screenrc-irssi\""
alias XtermIrssiR="xterm -T irssi -geometry 100x25 -fs 9 -e \"screen -r irssi\""
alias XtermIrssiX="xterm -T irssi -geometry 100x25 -fs 9 -e \"screen -x irssi\""
alias Irssi="resize -s 25 100;screen -c ${HOME}/.screenrc-irssi"
alias IrssiR="resize -s 25 100;screen -r irssi"
alias IrssiX="resize -s 25 100;screen -x irssi"

alias Rcheck="R CMD check"
alias Rinstall="R CMD INSTALL"
alias Rbuild="R CMD build"
