#!zsh
# zsh and bash compatible

if [[ ! -x $(which sudoedit) ]]; then
    alias sudoedit='sudo -e'
fi

# alias sudo='sudo'       # so aliases get expanded before using sudo

case ${OSTYPE} in
    'darwin'*)
        alias ls='ls -FG'
        ;;
    *)
        alias ls='ls -F --color=auto'
        ;;
esac
alias la='ls -A'
alias ll='ls -hl'
alias lla='ll -A'
alias l.="__ls -d '.*'"
alias ll.="__ls -dhl '.*'"

alias grep='grep --color=auto --line-number --binary-files=without-match'

alias XtermIrssi="xterm -T irssi -geometry 100x25 -fs 9 -e 'screen -c ~/.screenrc-irssi'"
alias XtermIrssiR="xterm -T irssi -geometry 100x25 -fs 9 -e 'screen -r irssi'"
alias XtermIrssiX="xterm -T irssi -geometry 100x25 -fs 9 -e 'screen -x irssi'"
alias Irssi='resize -s 25 100;screen -c ~/.screenrc-irssi'
alias IrssiR='resize -s 25 100;screen -r irssi'
alias IrssiX='resize -s 25 100;screen -x irssi'

alias Rcheck='R CMD check'
alias Rinstall='R CMD INSTALL'
alias Rbuild='R CMD build'

if [[ -x $(which xdg-open) ]]; then
    alias open=xdg-open
fi

if [[ -n $TMUX ]]; then
    alias Railslog="tmux neww -ad 'tail -f log/development.log'"
fi
