[user]
	name = Will Gray
	email = graywh@gmail.com
[advice]
	statusHints = false
[alias]
	br = branch
	ci = commit
	co = checkout
	diffc = diff --cached
	diffci = diff --cached --ignore-all-space --ignore-space-change
	diffi = diff --ignore-all-space --ignore-space-change
	diffic = diff --cached --ignore-all-space --ignore-space-change
	ff = merge --ff-only
	; lg = log --pretty=format:'%C(auto cyan)%h %C(auto red)%cr %C(auto magenta)%an %C(auto reset)%s %C(auto yellow)%d'
	lg = log --oneline --reverse
	log1 = log --oneline
	logd = log --decorate
	logg = log --oneline --graph
	pick = cherry-pick
	sl = stash list --format='%gd (%cr): %gs'
	st = status -sb
	stu = status -sb -uno
[branch]
	autosetupmerge = true
[color]
	; diff = false
	pager = false
	ui = auto
[core]
	editor = vim
	pager = view -
	excludesfile = ~/.config/git/ignore
	attributesfile = ~/.config/git/attributes
[format]
	pretty = medium
[pager]
	status = false
	branch = false
	tag = false
	sl = false
	lg = false
[push]
	default = simple
[fetch]
	prune = true
[status]
	relativePaths = true
[diff]
	renames = copy
; [diff "ruby"]
; 	xfuncname = ^\\s*\\(\\(class\\|module\\|def\\|describe\\|context\\) .*\\)
; [diff "python"]
; 	xfuncname = ^\\s*\\(\\(class\\|def\\) .*\\)
[diff "vim"]
	xfuncname = ^\\s*\\(function .*\\)
[diff "js"]
	xfuncname = \\(^\\|=\\)\\s*function .*
[web]
	browser = sensible-browser
[gui]
	fontdiff = -family \"DejaVu Sans Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	spellingdictionary = none
	editor = gvim
[cola]
	fontdiff = DejaVu Sans Mono,10,-1,5,50,0,0,0,0,0
	fontui = DejaVu Sans,11,-1,5,50,0,0,0,0,0
