/*
!.dotfiles/
!.bash_profile
!.bashrc
!.git/
!.gitconfig
!.gitignore
!.gitignored
!.gitmodules
!.gvimrc
!.inputrc
!.irssi/
!.kde/share/apps/konsole
!.pythonrc.py
!.Rprofile
!.subversion/config
!.vim/
!.vimrc
!.Xresources
