/*
!externals/
!Rakefile
!./
!../
!.bash_profile
!.bashrc
!.git/
!.gitconfig
!.gitignore
!.gitignored
!.gitmodules
!.gvimrc
!.inputrc
!.kde-share-apps-konsole/
!.pythonrc.py
!.Rprofile
!.subversion-config
!.vim/
!.vimrc
!.Xresources
externals/*
