[user]
	name = Will Gray
	email = graywh@gmail.com
[alias]
	co = checkout
	ci = commit
	st = status -s
	br = branch
	pick = cherry-pick
	log1 = log --pretty=oneline --abbrev-commit
	diffi = diff --ignore-all-space
[branch]
	autosetupmerge = true
[color]
	diff = false
	pager = false
	ui = auto
[core]
	editor = vim
	pager = view -
	excludesfile = ~/.gitignored
[pager]
	stash = false
	status = false
[status]
	relativePaths = true
[diff]
	renames = copy
[diff "ruby"]
	funcname = ^\\s*\\(\\(class\\|module\\|def\\|describe\\) .*\\)
[diff "python"]
	funcname = ^\\s*\\(\\(class\\|def\\) .*\\)
[diff "vim"]
	function = ^\\s*\\(function .*\\)
[web]
	browser = sensible-browser
[gui]
	fontdiff = -family \"DejaVu Sans Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	spellingdictionary = none
	editor = gvim
[push]
	default = matching
[cola]
	fontdiff = DejaVu Sans Mono,10,-1,5,50,0,0,0,0,0
	fontui = DejaVu Sans,11,-1,5,50,0,0,0,0,0
