[submodule ".dotfiles/externals/vim-git"]
	path = .dotfiles/externals/vim-git
	url = git://git.tpope.net/git/vim-git.git
[submodule ".dotfiles/externals/vim-rails"]
	path = .dotfiles/externals/vim-rails
	url = git://git.tpope.net/git/vim-rails.git
[submodule ".dotfiles/externals/vim-speeddating"]
	path = .dotfiles/externals/vim-speeddating
	url = git://git.tpope.net/git/vim-speeddating.git
[submodule ".dotfiles/externals/vim-surround"]
	path = .dotfiles/externals/vim-surround
	url = git://git.tpope.net/git/vim-surround.git
