[submodule "externals/vim-git"]
	path = externals/vim-git
	url = git://git.tpope.net/git/vim-git.git
[submodule "externals/vim-rails"]
	path = externals/vim-rails
	url = git://git.tpope.net/git/vim-rails.git
[submodule "externals/vim-speeddating"]
	path = externals/vim-speeddating
	url = git://git.tpope.net/git/vim-speeddating.git
[submodule "externals/vim-surround"]
	path = externals/vim-surround
	url = git://git.tpope.net/git/vim-surround.git
