! Use color when available
#ifdef COLOR
*customization: -color
#endif

! --- NetHack {{{1
NetHack.tile_file: x11tiles

! --- XTerm {{{1
XTerm.omitTranslation: fullscreen
XTerm.termName: xterm-256color
XTerm.toolBar: false
! --- VT100 widget {{{2
! --- options {{{3
XTerm*vt100.allowTcapOps: true
XTerm*vt100.allowWindowOps: true
XTerm*vt100.backarrowKey: false
XTerm*vt100.boldColors: false
XTerm*vt100.boldMode: true
XTerm*vt100.colorMode: true
XTerm*vt100.eightBitControl: false
XTerm*vt100.eightBitInput: false
XTerm*vt100.eightBitOutput: true
XTerm*vt100.faceName: DejaVu\ Sans\ Mono
XTerm*vt100.faceSize: 10
XTerm*vt100.geometry: 85x36
XTerm*vt100.highlightSelection: true
XTerm*vt100.locale: true
XTerm*vt100.loginShell: false
! XTerm*vt100.metaSendsEscape: true
! XTerm*vt100.modifyOtherKeys: 1
XTerm*vt100.rightScrollBar: true
XTerm*vt100.saveLines: 2048
XTerm*vt100.scrollBar: false
XTerm*vt100.shiftFonts: true
XTerm*vt100.ttyModes: erase ^?
XTerm*vt100.underLine: true
XTerm*vt100.utf8: 1
XTerm*vt100.visualBell: true
XTerm*vt100.visualBellDelay: 0
! --- keybindings {{{3
! modified keys: string(0x1b) string("[<unicode code-point>;<modifier>u")
! tab = 9, enter = 13, space = 32
XTerm*vt100.translations: #override \n\
    ~Ctrl ~Meta ~Shift <Key>Tab: string(0x09) \n\
    ~Ctrl ~Meta  Shift <Key>Tab: string(0x1b) string("[Z") \n\
    ~Ctrl  Meta ~Shift <Key>Tab: string(0x1b) string("[9;3u") \n\
    ~Ctrl  Meta  Shift <Key>Tab: string(0x1b) string("[9;4u") \n\
     Ctrl ~Meta ~Shift <Key>Tab: string(0x1b) string("[9;5u") \n\
     Ctrl ~Meta  Shift <Key>Tab: string(0x1b) string("[9;6u") \n\
     Ctrl  Meta ~Shift <Key>Tab: string(0x1b) string("[9;7u") \n\
     Ctrl  Meta  Shift <Key>Tab: string(0x1b) string("[9;8u") \n\
     Mod4 <Key>=: larger-vt-font() \n\
     Mod4 <Key>-: smaller-vt-font() \n\

! use btn1 instead of wheel for click-hold scrolling
XTerm*vt100.scrollbar.translations: #override \n\
    <Btn1Down>: StartScroll(Continuous) MoveThumb() NotifyThumb() \n\
    <Btn1Motion>: MoveThumb() NotifyThumb() \n\

! --- colors {{{3
XTerm*vt100.background: #141414
XTerm*vt100.foreground: #D7D7D7
XTerm*vt100.cursorColor: #5FFF5F
XTerm*vt100.color0: #000000
XTerm*vt100.color1: #D70000
XTerm*vt100.color2: #00D700
XTerm*vt100.color3: #D7D700
XTerm*vt100.color4: #005FD7
XTerm*vt100.color5: #D700D7
XTerm*vt100.color6: #00D7D7
XTerm*vt100.color7: #D7D7D7
XTerm*vt100.color8: #878787
XTerm*vt100.color9: #FF8787
XTerm*vt100.color10: #87FF87
XTerm*vt100.color11: #FFFF87
XTerm*vt100.color12: #87AFFF
XTerm*vt100.color13: #FF87FF
XTerm*vt100.color14: #87FFFF
XTerm*vt100.color15: #FFFFFF
! }}}1

! vim: fdm=marker
