! Use color when available
#ifdef COLOR
*customization: -color
#endif

! --- NetHack {{{1
NetHack.tile_file: x11tiles

! --- X {{{1
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
! --- XTerm {{{1
XTerm.omitTranslation: fullscreen
XTerm.termName: xterm-256color
XTerm.toolBar: false
! --- VT100 widget {{{2
! --- options {{{3
XTerm*vt100.allowTcapOps: true
XTerm*vt100.allowWindowOps: true
XTerm*vt100.backarrowKey: false
XTerm*vt100.boldColors: false
XTerm*vt100.boldMode: true
XTerm*vt100.colorMode: true
XTerm*vt100.eightBitControl: false
XTerm*vt100.eightBitInput: false
XTerm*vt100.eightBitOutput: true
XTerm*vt100.faceName: DejaVu\ Sans\ Mono
XTerm*vt100.faceSize: 10
XTerm*vt100.geometry: 85x36
XTerm*vt100.highlightSelection: true
XTerm*vt100.locale: true
XTerm*vt100.loginShell: false
! XTerm*vt100.metaSendsEscape: true
! XTerm*vt100.modifyOtherKeys: 1
XTerm*vt100.rightScrollBar: true
XTerm*vt100.saveLines: 2048
XTerm*vt100.scaleHeight: 1.05
XTerm*vt100.scrollBar: false
XTerm*vt100.shiftFonts: true
XTerm*vt100.ttyModes: erase ^?
XTerm*vt100.underLine: true
XTerm*vt100.utf8: 1
XTerm*vt100.visualBell: true
XTerm*vt100.visualBellDelay: 0
! --- keybindings {{{3
! modified keys: string(0x1b) string("[<unicode code-point>;<modifier>u")
! tab = 9, enter = 13, space = 32
XTerm*vt100.translations: #override \n\
    ~Ctrl ~Meta ~Shift <Key>Tab: string(0x09) \n\
    ~Ctrl ~Meta  Shift <Key>Tab: string(0x1b) string("[Z") \n\
    ~Ctrl  Meta ~Shift <Key>Tab: string(0x1b) string("[9;3u") \n\
    ~Ctrl  Meta  Shift <Key>Tab: string(0x1b) string("[9;4u") \n\
     Ctrl ~Meta ~Shift <Key>Tab: string(0x1b) string("[9;5u") \n\
     Ctrl ~Meta  Shift <Key>Tab: string(0x1b) string("[9;6u") \n\
     Ctrl  Meta ~Shift <Key>Tab: string(0x1b) string("[9;7u") \n\
     Ctrl  Meta  Shift <Key>Tab: string(0x1b) string("[9;8u") \n\
     Mod4 <Key>=: larger-vt-font() \n\
     Mod4 <Key>-: smaller-vt-font() \n\

! use btn1 instead of wheel for click-hold scrolling
XTerm*vt100.scrollbar.translations: #override \n\
    <Btn1Down>: StartScroll(Continuous) MoveThumb() NotifyThumb() \n\
    <Btn1Motion>: MoveThumb() NotifyThumb() \n\

! --- colors {{{3
XTerm*vt100.background: #141414
XTerm*vt100.foreground: #D7D7D7
XTerm*vt100.cursorColor: #5FFF5F
XTerm*vt100.color0: #000000
XTerm*vt100.color1: #D70000
XTerm*vt100.color2: #00D700
XTerm*vt100.color3: #D7D700
XTerm*vt100.color4: #005FD7
XTerm*vt100.color5: #D700D7
XTerm*vt100.color6: #00D7D7
XTerm*vt100.color7: #D7D7D7
XTerm*vt100.color8: #878787
XTerm*vt100.color9: #FF8787
XTerm*vt100.color10: #87FF87
XTerm*vt100.color11: #FFFF87
XTerm*vt100.color12: #87AFFF
XTerm*vt100.color13: #FF87FF
XTerm*vt100.color14: #87FFFF
XTerm*vt100.color15: #FFFFFF

! --- URxvt {{{1

! http://www.netswarm.net/misc/urxvt-xtermcompat.txt
! Nasty hack to act more like XTerm
URxvt*termName: xterm-256color

URxvt*keysym.S-Up: \033[1;2A
URxvt*keysym.M-Up: \033[1;3A
URxvt*keysym.S-M-Up: \033[1;4A
URxvt*keysym.C-Up: \033[1;5A
URxvt*keysym.S-C-Up: \033[1;6A
URxvt*keysym.M-C-Up: \033[1;7A
URxvt*keysym.S-M-C-Up: \033[1;8A
URxvt*keysym.S-Down: \033[1;2B
URxvt*keysym.M-Down: \033[1;3B
URxvt*keysym.S-M-Down: \033[1;4B
URxvt*keysym.C-Down: \033[1;5B
URxvt*keysym.S-C-Down: \033[1;6B
URxvt*keysym.M-C-Down: \033[1;7B
URxvt*keysym.S-M-C-Down: \033[1;8B
URxvt*keysym.S-Right: \033[1;2C
URxvt*keysym.M-Right: \033[1;3C
URxvt*keysym.S-M-Right: \033[1;4C
URxvt*keysym.C-Right: \033[1;5C
URxvt*keysym.S-C-Right: \033[1;6C
URxvt*keysym.M-C-Right: \033[1;7C
URxvt*keysym.S-M-C-Right: \033[1;8C
URxvt*keysym.S-Left: \033[1;2D
URxvt*keysym.M-Left: \033[1;3D
URxvt*keysym.S-M-Left: \033[1;4D
URxvt*keysym.C-Left: \033[1;5D
URxvt*keysym.S-C-Left: \033[1;6D
URxvt*keysym.M-C-Left: \033[1;7D
URxvt*keysym.S-M-C-Left: \033[1;8D
URxvt*keysym.Home: \033OH
URxvt*keysym.S-Home: \033[1;2H
URxvt*keysym.M-Home: \033[1;3H
URxvt*keysym.S-M-Home: \033[1;4H
URxvt*keysym.C-Home: \033[1;5H
URxvt*keysym.S-C-Home: \033[1;6H
URxvt*keysym.M-C-Home: \033[1;7H
URxvt*keysym.S-M-C-Home: \033[1;8H
URxvt*keysym.End: \033OF
URxvt*keysym.S-End: \033[1;2F
URxvt*keysym.M-End: \033[1;3F
URxvt*keysym.S-M-End: \033[1;4F
URxvt*keysym.C-End: \033[1;5F
URxvt*keysym.S-C-End: \033[1;6F
URxvt*keysym.M-C-End: \033[1;7F
URxvt*keysym.S-M-C-End: \033[1;8F
URxvt*keysym.S-Insert: \033[2;2~
URxvt*keysym.M-Insert: \033[2;3~
URxvt*keysym.C-Insert: \033[2;5~
URxvt*keysym.S-M-Insert: \033[2;4~
URxvt*keysym.S-C-Insert: \033[2;6~
URxvt*keysym.M-C-Insert: \033[2;7~
URxvt*keysym.S-M-C-Insert: \033[2;8~
URxvt*keysym.S-Delete: \033[3;2~
URxvt*keysym.M-Delete: \033[3;3~
URxvt*keysym.S-M-Delete: \033[3;4~
URxvt*keysym.C-Delete: \033[3;5~
URxvt*keysym.S-C-Delete: \033[3;6~
URxvt*keysym.M-C-Delete: \033[3;7~
URxvt*keysym.S-M-C-Delete: \033[3;8~
URxvt*keysym.S-Page_Up: \033[5;2~
URxvt*keysym.M-Page_Up: \033[5;3~
URxvt*keysym.C-Page_Up: \033[5;5~
URxvt*keysym.S-M-Page_Up: \033[5;4~
URxvt*keysym.S-C-Page_Up: \033[5;6~
URxvt*keysym.M-C-Page_Up: \033[5;7~
URxvt*keysym.S-M-C-Page_Up: \033[5;8~
URxvt*keysym.S-Page_Down: \033[6;2~
URxvt*keysym.M-Page_Down: \033[6;3~
URxvt*keysym.S-M-Page_Down: \033[6;4~
URxvt*keysym.C-Page_Down: \033[6;5~
URxvt*keysym.S-C-Page_Down: \033[6;6~
URxvt*keysym.M-C-Page_Down: \033[6;7~
URxvt*keysym.S-M-C-Page_Down: \033[6;8~
URxvt*keysym.F1: \033OP
URxvt*keysym.S-F1: \033[1;2P
URxvt*keysym.M-F1: \033[1;3P
URxvt*keysym.S-M-F1: \033[1;4P
URxvt*keysym.C-F1: \033[1;5P
URxvt*keysym.S-C-F1: \033[1;6P
URxvt*keysym.M-C-F1: \033[1;7P
URxvt*keysym.S-M-C-F1: \033[1;8P
URxvt*keysym.F2: \033OQ
URxvt*keysym.S-F2: \033[1;2Q
URxvt*keysym.M-F2: \033[1;3Q
URxvt*keysym.S-M-F2: \033[1;4Q
URxvt*keysym.C-F2: \033[1;5Q
URxvt*keysym.S-C-F2: \033[1;6Q
URxvt*keysym.M-C-F2: \033[1;7Q
URxvt*keysym.S-M-C-F2: \033[1;8Q
URxvt*keysym.F3: \033OR
URxvt*keysym.S-F3: \033[1;2R
URxvt*keysym.M-F3: \033[1;3R
URxvt*keysym.S-M-F3: \033[1;4R
URxvt*keysym.C-F3: \033[1;5R
URxvt*keysym.S-C-F3: \033[1;6R
URxvt*keysym.M-C-F3: \033[1;7R
URxvt*keysym.S-M-C-F3: \033[1;8R
URxvt*keysym.F4: \033OS
URxvt*keysym.S-F4: \033[1;2S
URxvt*keysym.M-F4: \033[1;3S
URxvt*keysym.S-M-F4: \033[1;4S
URxvt*keysym.C-F4: \033[1;5S
URxvt*keysym.S-C-F4: \033[1;6S
URxvt*keysym.M-C-F4: \033[1;7S
URxvt*keysym.S-M-C-F4: \033[1;8S
URxvt*keysym.S-F5: \033[15;2~
URxvt*keysym.M-F5: \033[15;3~
URxvt*keysym.S-M-F5: \033[15;4~
URxvt*keysym.C-F5: \033[15;5~
URxvt*keysym.S-C-F5: \033[15;6~
URxvt*keysym.M-C-F5: \033[15;7~
URxvt*keysym.S-M-C-F5: \033[15;8~
URxvt*keysym.S-F6: \033[17;2~
URxvt*keysym.M-F6: \033[17;3~
URxvt*keysym.S-M-F6: \033[17;4~
URxvt*keysym.C-F6: \033[17;5~
URxvt*keysym.S-C-F6: \033[17;6~
URxvt*keysym.M-C-F6: \033[17;7~
URxvt*keysym.S-M-C-F6: \033[17;8~
URxvt*keysym.S-F7: \033[18;2~
URxvt*keysym.M-F7: \033[18;3~
URxvt*keysym.S-M-F7: \033[18;4~
URxvt*keysym.C-F7: \033[18;5~
URxvt*keysym.S-C-F7: \033[18;6~
URxvt*keysym.M-C-F7: \033[18;7~
URxvt*keysym.S-M-C-F7: \033[18;8~
URxvt*keysym.S-F8: \033[19;2~
URxvt*keysym.M-F8: \033[19;3~
URxvt*keysym.S-M-F8: \033[19;4~
URxvt*keysym.C-F8: \033[19;5~
URxvt*keysym.S-C-F8: \033[19;6~
URxvt*keysym.M-C-F8: \033[19;7~
URxvt*keysym.S-M-C-F8: \033[19;8~
URxvt*keysym.S-F9: \033[20;2~
URxvt*keysym.M-F9: \033[20;3~
URxvt*keysym.S-M-F9: \033[20;4~
URxvt*keysym.C-F9: \033[20;5~
URxvt*keysym.S-C-F9: \033[20;6~
URxvt*keysym.M-C-F9: \033[20;7~
URxvt*keysym.S-M-C-F9: \033[20;8~
URxvt*keysym.S-F10: \033[21;2~
URxvt*keysym.M-F10: \033[21;3~
URxvt*keysym.S-M-F10: \033[21;4~
URxvt*keysym.C-F10: \033[21;5~
URxvt*keysym.S-C-F10: \033[21;6~
URxvt*keysym.M-C-F10: \033[21;7~
URxvt*keysym.S-M-C-F10: \033[21;8~
URxvt*keysym.S-F11: \033[23;2~
URxvt*keysym.M-F11: \033[23;3~
URxvt*keysym.S-M-F11: \033[23;4~
URxvt*keysym.C-F11: \033[23;5~
URxvt*keysym.S-C-F11: \033[23;6~
URxvt*keysym.M-C-F11: \033[23;7~
URxvt*keysym.S-M-C-F11: \033[23;8~
URxvt*keysym.S-F12: \033[24;2~
URxvt*keysym.M-F12: \033[24;3~
URxvt*keysym.S-M-F12: \033[24;4~
URxvt*keysym.C-F12: \033[24;5~
URxvt*keysym.S-C-F12: \033[24;6~
URxvt*keysym.M-C-F12: \033[24;7~
URxvt*keysym.S-M-C-F12: \033[24;8~
! }}}1

! vim: fdm=marker
