/*
!/.gitignore
!/filetype.vim
!/menu.vim
!/scripts.vim
!/after/
!/autoload/
!/colors/
/colors/*
!/colors/*.vim
!/compiler/
/compiler/*
!/compiler/*.vim
!/ftdetect/
/ftdetect/*
!/ftdetect/*.vim
!/ftplugin/
/ftplugin/*
!/ftplugin/*.vim
!/ftplugin/*/
!/ftplugin/**/*.vim
!/indent/
/indent/*
!/indent/*.vim
!/keymap/
/keymap/*
!/keymap/*.vim
!/lang/
/lang/*
!/lang/*.vim
!/macros/
/macros/*
!/macros/*.vim
!/plugin/
/plugin/*
!/plugin/*.vim
!/syntax/
/syntax/*
!/syntax/*.vim
